body {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	color: #5B6476;
	background-image: url("../img/Circle img.png");
	background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right top;
    background-position: right top;
    background-size: 55vw;
}

.page-content {
	padding-top: 40px;
}

.invitation {
	padding-top: 100px;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* todo: remove - just for debugging */
/* .col
{
	border: 1px solid #777;
} */

.invitation--headline {
	font-size: 3.75rem;
	font-weight: 800;
	background: linear-gradient(231.41deg, #75E9FF 0%, #76FFA9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.2;
	margin-bottom: 0.8rem;
}

@media (max-width: 544px) {
	.invitation--headline {
		font-size: 3rem;
	}
}

@media (min-width: 544px) {
	.invitation__take-action {
		margin-top: 2.5rem;
	}
}

.nav {
	white-space: nowrap;
}

.nav__link {
	letter-spacing: 1px;
	font-weight: 600;
	color: #5B6476;
	font-size:  0.75rem;
	text-decoration: none;
	padding: 10px 10px;
}

.nav__link:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

.nav__list {
	display:  inline-block;
}

.invitation__text-subtitle {
	font-size: 1.2rem;
	line-height: 1.5;
}

.invitation__text-date {
	margin-top: 2.5rem;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2;
}

.invitation__text-place {
	font-size: 1.2rem;
	line-height: 1.5;
}

.button {
	cursor: pointer;
	margin: 7px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
    white-space: nowrap;
}

.button--primary {
	padding: 25px 44px;
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 100px;
	color: #FFFFFF;
	background-color: #5B6476;
}

.button--primary:hover {
	background-color: #5B6476ee;
}

.video-component {
}

.button--circle {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: #FFFFFF;
	box-shadow: 0 2px 20px 0 rgba(55,59,68,0.23);
	border:  none;
}

.button--circle:hover {
	box-shadow: 0 2px 40px 0 rgba(55,59,68,0.23);
}

.button__icon {
	padding: 3px 0px 0px 4px;
}

.mapping-block {
	margin-left: 10%;
	text-align: center;
}

.mapping-block__text--white {
	color: #fff;
	mix-blend-mode: difference;
}

.mapping-block__text--grad {
	background: linear-gradient(231.41deg, #75E9FF 0%, #76FFA9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	mix-blend-mode: difference;
}
